$color-orange: #f28f00;
$color-orange-dark: darken( #f28f00, 20% );


/* BELOW STYLING WILL OVERRIDE ANOTHER STYLING */
.main-logo{
	a{
		display: inline-block;
	}
}

/* STYLING FOR RESPONSIVE NAVIGATION */
.rwd-navigation{
	display: none;
	visibility: hidden;
	.nav-btn{
		display: block;
		background: #489943;
		width: 100%;
		text-align: center;
		border-radius: 3px;
		font-size: 12px;
		padding: 10px 5px;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
		> span{
			margin-right: 5px;
			font-weight: bold;
		}
	}
}

.mobile-nav{
	background: white;
	border-right: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	li{
		display: block;
		a{
			display: block;
			text-align: left;
			padding: 5px 10px;
			border-bottom: 1px solid #f0f0f0;
			text-transform: capitalize;
		}
		&:hover, &:focus, &:active{
			a{
				color: white;
				background-color: #489943;
				text-decoration: none;

			}
		}
	}
}

/* PAGINATION */
.pagination{
	p{
		strong{
			color: #f28f00;
			background: none repeat scroll 0 0 #dedcdc;
			display: inline-block;
			line-height: 1.5em;
			margin-left: 0px !important;
			padding: 2px 7px !important;
			text-decoration: none;
			vertical-align: middle;
		}
	}
}

.num-page{
	float: right !important;
	margin-bottom: 5px;
	span, a{
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		color: #6f6f6f;
		padding: 3px 9px;
		margin-right: 5px;
		background: #DEDCDC;
		margin-bottom: 5px;
		margin-left: 0;
		&.active{
			background: #f28f00;
			color: #fff;			
		}
	}
	a{
		&:last-child{
			margin-right: 0;
		}
		&:hover, &:focus{
			background: #f28f00;
			color: #fff;
		}
	}

}

/* BUTTONS */
.btn-to-center{
	button, .btn-oraneflat{
		&:first-child{
			margin-right: 10px;
		}
	}
}

.btn-grad-orange-new{
	position: relative;
	background-color: $color-orange;
	box-shadow: inset 0px -30px 0px -2px rgba(black, .08) ;
	// background-image: linear-gradient( to top, $color-orange-dark 30%, $color-orange);
	padding: 15px 42px;
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	border: none;
	transition: all .35s ease;
	&:hover, &:focus{
		box-shadow: inset 0px -90px 0px -2px rgba(black, .08) ;
	}
}

.btnwrap-login{
	.btn-grad-orange-new{
		margin-top: 10px;
	}
}

.recruit{
	margin-right: -50px;
}

.form-inline{
	.form-group{
		.label-title{
			vertical-align: middle;
			height: 43px;
			line-height: 43px;
			font-size: 14px;
		}
	}
}

.bootstrap-select.btn-group .dropdown-menu{
	background-color: white;
	z-index: 9999;
}

header.box-title{
	z-index: 33;
}

.sharesocial2-rel{
	position: relative;
	clear: both;
	.sm{
		float: left;
		margin-left: 0;
		margin-right: 5px;
		margin-bottom: 5px;
		display: inline-block;
	}
}

@media (max-width:980px) {
    #asideright{
    	width: 100%;
    	.sharesocial2-rel{
    		text-align: center;
    	}
    }
	.sharesocial2-rel{
		span{
			text-align: center;
		}
		.sm{
			display: inline-block;
			float: none;
		}
	}
}

@media (max-width:860px) {
	.topbaner{
		margin-top: 30px;
	}
	#nav-page{
		width: 100%;
		background: #489943;
		text-align: center;
		ul{
			>li{
				width: inherit !important;
				float: none !important;
				display: inline-block;
				background-image: none;
				> a{
					font-size: 11px;
					position: relative;
					&:after{
						content: "";
						position: absolute;
						width: 1px;
						left: 100%;
						height: 40%;
						top: 30%;
						background: rgba( white, .40% );
					}
				}
				&:last-child{
					>a {
						&:after{
							background-color: transparent;
						}
					}
				}
			}
		}
	}
}

@media (max-width:765px){
	#nav-page{
		ul{
			>li{
				> a{
					font-size: 11px;
					position: relative;
					padding: 0 20px;
				}
			}
		}
	}
	.pagination{
		p{
			float: none;
		}
	}
	.num-page{
		float: left !important;
	}
}

@media (max-width: 570px) {
	.mainlogo{
		margin-top: 45px;
	}
	form#s-job input.submitfield{
		font-size: 12px;
	}
	.topbaner{
		.banner-advertise{
			display: none;
		}
	}
    #nav-page{
    	display: none;
    	.wrapper{
    		display: none;
    	}
    }
	.rwd-navigation{
		display: block;
		visibility: visible;
	}
	.border-block{
		padding: 15px 5px;
		.title-mainblack{
			margin-left: 15px;
		}
	}
	.cellEditing{
		input[type="text"]{
			width: 100px;
		}
	}
	.passfield{
		width: 100px;
	}
	.f-dtlaccount{
		.tb_edit_target{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 100px;
		}
		td{
			&:last-child{
				padding-left: 0;
			}
		}
		.table{
			td{
				padding: 5px;
			}
		}
	}
	.btnwrap-login{
		text-align: center;
		.orangegadient{
			input.no-btn{
				padding: 0 15px;
				height: 38px;
				margin-top: 15px;
				line-height: 38px;
			}
			img{
				display: none;
			}
		}
		.btn-grad-orange-new{
			padding: 10px 15px;
			font-size: 16px;
		}
	}

	.form-inline{
		.form-group{
			.label-title{
				line-height: inherit;
			}
		}
	}
}

.table-responsive{
	@media (max-width: 800px) {
		overflow: initial;
		border:none;
	}
	>pre{
		display: none;
	}
}
.table-new.small-only{
	display: none !important;
	@media (max-width: 800px) {
	    display: block !important;
	}
	tbody{
		width: 100%;
		position: relative;
		tr{
			width: 100%;
			th{
				&.st-head-row, &.st-head-row-main{
					text-align: center;
					white-space: normal;
				}
			}
			td{
				width: 100%;
				text-align: center;
			}
		}
	}

}
.table-new.large-only{
	@media (max-width: 800px) {
	    display: none; 
	}
}