$color-orange: #f28f00;
$color-orange-dark: darken( #f28f00, 20% );
$color-green: #489943;


/* BELOW STYLING WILL OVERRIDE ANOTHER STYLING */
.main-logo{
	margin-top: 30px;
	a{
		display: inline-block;
	}
}


/* SIMILAR LINK JOB */
.list-similar-jobs{
	position: relative;
	.link-job{
		position: absolute;
		right: 15px;
		top: 25px;
		width: 15px;
		height: 24px;
		background-image: url("../images/arrow-orange-right.png");
		background-repeat: no-repeat;
		display: inline-block;

		&:hover{
			text-decoration:none;
		}
	}
	ul{
		background-image: none;
		li{
			position: relative;
		}
	}
}

/* PLACEHOLDER */
::-webkit-input-placeholder {
	color: #b8b4b4;
	font: 13px/1.4 'Lato', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
	color: #b8b4b4;
	font: 13px/1.4 'Lato', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #b8b4b4;
	font: 13px/1.4 'Lato', sans-serif;
}

:-ms-input-placeholder {  
	color: #b8b4b4;
	font: 13px/1.4 'Lato', sans-serif;
}

/* STYLING FOR TOOLTIPSTER*/
.tooltipster-salary{
	background: $color-orange;
	border: none;
	border-radius: 9px;
	max-width: 230px;
	text-align: center;
	color: white;
	.tooltipster-content{
		padding: 0 15px 30px;
	}
	p{
		color: white;
		font-size: 14px;
		line-height: 1.4;
	}
	// &:before{
	// 	content: "";
	// 	position: absolute;
	// 	width: 30px;
	// 	height: 30px;
	// 	background: $color-orange;
	// 	transform: rotate(45deg);
		// bottom: 0;
	// 	top: 95%;
	// 	left: 50%;
	// 	margin-left: -20px;
	// }
	.title-tooltipster{
		background-color: lighten( $color-orange-dark, 10% );
		display: inline-block;
		margin: 0 auto 15px;
		padding: 20px 15px;
		color: white;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 14px;
		border-bottom-left-radius: 9px;
		border-bottom-right-radius: 9px;
	}
	.tooltipster-arrow-top span, 
	.tooltipster-arrow-top-right span, 
	.tooltipster-arrow-top-left span {
		border-left: 20px solid transparent !important;
		border-right: 20px solid transparent !important;
		border-top: 20px solid;
		bottom: -19px;
	}
	.tooltipster-arrow-bottom span, 
	.tooltipster-arrow-bottom-right span, 
	.tooltipster-arrow-bottom-left span{
		  border-left: 20px solid transparent !important;
		  border-right: 20px solid transparent !important;
		  border-bottom: 20px solid;
		  top: -19px;
	}
}


/* STYLING FOR RECRUITING ON TOP */
.recruittop{
	background-color: #489943;
	display: block;
	color: #fff;
	width: 110px;
	text-align: center;
	border-radius: 0 0 3px 3px;
	padding: 6px 0;
	position: absolute;
	font-size: 12px;
	line-height: 17px !important;
	right: 120px;
	top: -90px;
	display: none;
	@media (max-width: 580px) {
	    top: -33px;
	}
	&:hover, &:focus{
		color: #fff;
		text-decoration: none;
	}
	small{
		color: #83ea66;
		font-size: 1.5em;
		position: relative;
		top: 2px;
	}
}

.recruittop, .logintop{
	height: 34px;
	line-height: inherit;
}


@media screen and (max-width: 767px){
	.recruit{
		position: absolute;
		top: 0;
		right: 175px;
		opacity: 1 !important;
		@include border-radius(0);
		@include border-bottom-radius(3px);

		&.rotate90{
			-webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -ms-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);
		}
	}
}

/* STYLING FOR RESPONSIVE NAVIGATION */
.rwd-navigation{
	display: none;
	visibility: hidden;
	top: 40px;
	position: relative;
	// float: right;
	text-align: right;
	@media (max-width: 675px) {
	    display: block;
	    visibility: visible;
	}
	.nav-btn{
		// display: block;
		display: inline-block;
		background: #489943;
		// width: 100%;
		text-align: center;
		border-radius: 3px;
		font-size: 12px;
		// padding: 10px 5px;
		padding: 10px 16px;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
		> span{
			// margin-right: 5px;
			margin: 0; 
			font-weight: bold;
		}
	}
	.mobile-nav{
		position: relative;
		width: 100%;
		// margin-top: 100px;
		text-align: left;
		float: left;
		margin-bottom: 30px;
		li{
			a{
				padding: 7px 10px;
			}
		}
	}
}

/* NEWEST STYLING FOR RESPONSIVE NAVIGATION */
.box-navigation{
	.nav-btn{
		height: 34px;
		width: 34px;
		line-height: 34px;
		border-radius: 3px;
		font-size: 12px;
		color: white;
		text-align: center;
		background-color: #489943;
		display: none;
	}
}

.wrapper-body{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		position: relative;
		width: 100%;
		transition: .5s;
		margin-right: 0;
		display: block;
		&.on-active{
			float: right;
			margin-right: -40%;
			transition: .5s;
			@media (max-width: 450px) {
			    margin-right: -60%;
			}
		}
	}
}

.nav-sidebar{
	left: -40%;
	text-align: left;
	transition: left .5s;
	z-index: 999;
	background-color: #489943;
	width: 40%;
	position: fixed;
	height: 100%;
	transition: 0.5s;
	padding: 40px 0;
	overflow-x: scroll;
	display: block;
	@media (max-width: 450px) {
	    left: -60%;
	    width: 60%;
	}
	&.active-left{
		left: 0 !important;
	}

	ul{
		list-style: none outside none;
		padding: 0;
		margin: 0;
		li{
			display: block;
			&:first-child{
				a{
					border-top: 1px solid rgba( white, .25 );	
				}
			}
			a{
				color: white;
				display: block;
				padding: 10px 20px;
				border-bottom: 1px solid rgba( white, .25 );
				text-transform: capitalize;
			}
			&:hover, &:focus{
				a{
					background-color: lighten( #489943, 10% );
					text-decoration: none;	
				}
			}
		}
	}
}

.close-nav-side{
	color: white;
	margin-left: 40px;
	margin-bottom: 20px;
	display: block;
	span{
		font-weight: 900;
	}
	&:hover, &:focus{
		color: darken(white, .7);
		text-decoration: none;
	}
}


.mobile-nav{
	background: white;
	border-right: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	li{
		display: block;
		a{
			display: block;
			text-align: left;
			padding: 5px 10px;
			border-bottom: 1px solid #f0f0f0;
			text-transform: capitalize;
		}
		&:hover, &:focus, &:active{
			a{
				color: white;
				background-color: #489943;
				text-decoration: none;

			}
		}
	}
}

/* PAGINATION */
.pagination{
	p{
		strong{
			color: #f28f00;
			background: none repeat scroll 0 0 #dedcdc;
			display: inline-block;
			line-height: 1.5em;
			margin-left: 0px !important;
			padding: 2px 7px !important;
			text-decoration: none;
			vertical-align: middle;
		}
	}
}

.num-page{
	float: right !important;
	margin-bottom: 5px;
	span, a{
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		color: #6f6f6f;
		padding: 3px 9px;
		margin-right: 5px;
		background: #DEDCDC;
		margin-bottom: 5px;
		margin-left: 0;
		&.active{
			background: #f28f00;
			color: #fff;			
		}
	}
	a{
		&:last-child{
			margin-right: 0;
		}
		&:hover, &:focus{
			background: #f28f00;
			color: #fff;
		}
	}

}

/* BUTTONS */
.btn-to-center{
	button, .btn-oraneflat{
		&:first-child{
			margin-right: 10px;
		}
	}
}

.btn-grad-orange-new{
	position: relative;
	background-color: $color-orange;
	box-shadow: inset 0px -30px 0px -2px rgba(black, .08) ;
	// background-image: linear-gradient( to top, $color-orange-dark 30%, $color-orange);
	padding: 15px 42px;
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	border: none;
	transition: all .35s ease;
	&:hover, &:focus{
		box-shadow: inset 0px -90px 0px -2px rgba(black, .08) ;
	}
}

.btnwrap-login{
	.btn-grad-orange-new{
		margin-top: 10px;
	}
}

.recruit{
	margin-right: -50px;
}


/* FORM */
.form-wrapper{
	background-color: #fafafa;
	min-height: 100px;
	padding: 48px 45px 37px;
	border: 1px solid #cecece;
	position: relative;
	&.for-hide{
		padding: 0;
		border: none;
		background-color: transparent;
	}
	// .boxsilform{
	// 	padding: 0;
	// 	margin: 0;
	// 	border: none;
	// }
	// .noborderform-top{
	// 	border: none;
	// 	padding-left: 0;
	// 	padding-right: 0;
	// 	display: inline-block;
	// 	padding-top: 55px;
	// }
	.box-field{
		margin-bottom: 10px;
		.half{
			@media (max-width: 570px) {
			    margin-bottom: 15px;
			}
		}
		.label-field{
			@media (max-width: 570px) {
			    display: inline-block;
			}
		}
		.info{
			display: block;
			margin-bottom: -15px;
		}
	}
	.half{
		width: 50%;
		float: left;
		@media (max-width: 570px) {
		    width: 100%;
		}
	}
	.in-half-more{
		float: left;
		width: 60%;
		@media (max-width: 570px) {
		    width: 100%;
		}
	}
	.in-half-less{
		float: left;
		width: 40%;
		@media (max-width: 570px) {
		    width: 100%;
		}
	}
	.in-full{
		float: left;
		width: 100%;
		@media (max-width: 570px) {
		    width: 100%;
		}
	}
	.in-left{
		padding-right: 15px;
		@media (max-width: 570px) {
		    padding:0;
		}
	}
	.in-right{
		padding-left: 15px;
		@media (max-width: 570px) {
		    padding: 0;
		}
	}
	.html5fileupload .add:after,
	.html5fileupload:after{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	input[type="text"], input[type="email"], input[type="website"], input[type="search"], input[type="url"]{
		height: 42px;
	}
	input[type="text"], input[type="email"], input[type="website"], input[type="search"], input[type="url"], textarea{
		width: 100%;
	}
	input, textarea{
		border: 1px solid #cecece;
		background-color: #f4f1f1;
		font-size: 12px;
		padding: 11.4px 9px;
		color: #454545;
	}
	textarea{
		resize: vertical;
	}
	.label-field{
		display: block;
		color: #454545;
		margin-bottom: 10px;
		strong{
			color: #1f1f1f;
			width: 22px;
			display: inline-block;
		}
		.req{
			color: red !important;
			font-size: 10px;
		}
	}
	.field_new_social{
		height: 32px;
		clear: both;
		margin: 7px 0 20px;
	}
	.field_select_socmed{
		position: relative;
		.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
			width: 80%;
			position: relative;
			@media (max-width: 390px) {
			    width: 70%;
			}
		}
	}
	.add_new_social{
		position: relative;
		padding-left: 42px;
		top: 7px;
		@media (max-width: 570px) {
		    display: inline-block;
		    top: 0;
		}
		&:before{
			content: url('../images/icons/add-more.png');
			position: absolute;
			height: 32px;
			width: 32px;
			left: 0;
			top: -7px;
			@media (max-width: 570px) {
			    top: 0;
			}
		}
		&:hover, &:focus{
			color: #f28f00;
			text-decoration: none;
		}
	}
	.remove_field{
		content: url("../images/icons/close_row.png");
		position: absolute;
		width: 41px;
		height: 40px;
		display: inline-block;
		color: transparent;
		font-size: 0;
		line-height: 0;
		right: 0;
		top: 0;
	}
}

// Form About-you
.about-wrapper,
.job-alert-wrapper,
.arrow-wrapper{
	z-index: 222;
	position: relative;
	&:after{
		position: absolute;
		content: "";
		background: url('../images/arrowme6.png') center top no-repeat;
		width: 100%;
		height: 37px;
		bottom: -37px;
		left: 0;
	}
}



.form-inline{
	.form-group{
		width: 36%;
		&.first{
			width: 30% !important;
		}
		.label-title{
			vertical-align: middle;
			height: 43px;
			line-height: 43px;
			font-size: 14px;
		}
	}
}

.bootstrap-select.btn-group .dropdown-menu{
	background-color: white;
	z-index: 9999;
}

header.box-title{
	z-index: 33;
}

.sharesocial2-rel{
	position: relative;
	clear: both;
	.sm{
		float: left;
		margin-left: 0;
		margin-right: 5px;
		margin-bottom: 5px;
		display: inline-block;
	}
}

@media (max-width:980px) {
    #asideright{
    	width: 100%;
    	.sharesocial2-rel{
    		text-align: center;
    	}
    }
	.sharesocial2-rel{
		span{
			text-align: center;
		}
		.sm{
			display: inline-block;
			float: none;
		}
	}
}

@media (max-width:860px) {
	.topbaner{
		margin-top: 30px;
	}
	#nav-page{
		width: 100%;
		background: #489943;
		text-align: center;
		ul{
			>li{
				width: inherit !important;
				float: none !important;
				display: inline-block;
				background-image: none;
				> a{
					font-size: 11px;
					position: relative;
					&:after{
						content: "";
						position: absolute;
						width: 1px;
						left: 100%;
						height: 40%;
						top: 30%;
						background: rgba( white, .40% );
					}
				}
				&:last-child{
					>a {
						&:after{
							background-color: transparent;
						}
					}
				}
			}
		}
	}
}

@media (max-width:765px){
	#nav-page{
		ul{
			>li{
				> a{
					font-size: 11px;
					position: relative;
					padding: 0 20px;
				}
			}
		}
	}
	.pagination{
		p{
			float: none;
		}
	}
	.num-page{
		float: left !important;
	}
}

@media (max-width: 675px) {
    #nav-page{
    	display: none !important;
    }
    .mainlogo{
    	margin-bottom: 60px;
    	> .logo-inner{
    		float: left;
    		display: inline-block;
    	}
    }
    .box-navigation{
    	float: right;
    	display: inline-block;
    	margin-top: 60px;
    	.nav-btn{
    		display: inline-block;
    	}
    }
}

@media (max-width: 570px) {
	.mainlogo{
		margin-top: 45px;
	}
	form#s-job input.submitfield{
		font-size: 12px;
		margin-top: 0;
		margin-right: 10px;
		height: 43px;
	}
	form#s-job{
		.label-title{
			line-height: 43px;
		}
	}
	.topbaner{
		.banner-advertise{
			display: none;
		}
	}
    #nav-page{
    	display: none;
    	.wrapper{
    		display: none;
    	}
    }
	.rwd-navigation{
		display: block;
		visibility: visible;
	}
	.border-block{
		padding: 15px 5px;
		.title-mainblack{
			margin-left: 15px;
		}
	}
	.cellEditing{
		input[type="text"]{
			width: 100px;
		}
	}
	.passfield{
		width: 100px;
	}
	.f-dtlaccount{
		.tb_edit_target{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 100px;
		}
		td{
			&:last-child{
				padding-left: 0;
			}
		}
		.table{
			td{
				padding: 5px;
			}
		}
	}
	.btnwrap-login{
		text-align: center;
		.orangegadient{
			input.no-btn{
				padding: 0 15px;
				height: 38px;
				margin-top: 15px;
				line-height: 38px;
			}
			img{
				display: none;
			}
		}
		.btn-grad-orange-new{
			padding: 10px 15px;
			font-size: 16px;
		}
	}

	.form-inline{
		.form-group{
			.label-title{
				line-height: inherit;

			}
		}
	}
}

@media (max-width: 445px) {
	form#s-job{
		padding: 10px;
		.first{
			margin: 0;
			text-align: center;
		}
		.form-group{
			width: 100% !important;
		}
		.submitfield{
			width: 99.5% !important;
			margin: 0 0 !important;
			padding: 0;
			border: 1px solid #b96d00 !important;
			height: 42px !important;
			position: relative;
			left: -1px;
			top: 1px;

		}
	}
}


@media (max-width: 361px) {
	.btnwrap-login .orangegadient input.no-btn{
		padding: 0 8px;
		height: 25px;
		margin-top: 15px; 
		line-height: 25px;
		font-size: 19px;
	}
}
.table-responsive{
	@media (max-width: 800px) {
		overflow: initial;
		border:none;
	}
	>pre{
		display: none;
	}
}
.table-new.small-only{
	display: none !important;
	@media (max-width: 800px) {
	    display: block !important;
	}
	tbody{
		width: 100%;
		position: relative;
		tr{
			width: 100%;
			th{
				&.st-head-row-main{
					display: none; 
				}
				&.st-head-row, &.st-head-row-main{
					text-align: center;
					white-space: normal;
				}
			}
			td{
				width: 100%;
				text-align: center;
			}
		}
	}

}
.table-new.large-only{
	@media (max-width: 800px) {
	    display: none; 
	}
}

// BELOW IS HOW TO HANDLE RESPONSIVE TABLE
@media (max-width: 800px) {
    table#sortTable{
    	thead{
    		display: none;
    	}
    	tbody{
    		td{
    			display: block;
    		}
    		tr{
    			td{
    				&:first-child{
    					color: white;
    					background: $color-green !important;
    				}
    				&:before{
    					content: attr(data-th);
    					font-weight: bold;
    					display: inline-block;
    					// min-width: 160px;
    					text-transform: capitalize;
    					width: 50%;
    				}
    				&.td-nodata{
    					height: auto;
    				}
    				&[align="center"]{
    					text-align: left !important;
    				}
    			}
    		}
    	}
    }
}

//VALIDATION
.wrap-validation {
  display: block;
  height: auto;
  position: relative;
  padding-bottom: 3px;
  z-index: 90;
  span.error {
    bottom: -18px;
    color: red;
    font-size: 12px;
    position: absolute;
    display: block;
    width: 100%;
  }
  div.check-val {
    input {
      border: 1px solid transparent;
    }
    &.error input {
      border: 1px solid red !important;
    }
  }
}

.form-wrapper .box-field{
	margin-bottom: 28px
}

/*SELECT FONT*/
.bootstrap-select.btn-group .btn .filter-option{
	  font-family: 'Open Sans';
	  font-size: 12.5px;
}

