/* ======== COMPANY HOME ======== */
.text-orange{
	color:#f28f00;
}
.text-green{
	color:$green;
}
.bolder{
	font-weight:700;	
}

.dsboard-title{
	vertical-align:middle;
	overflow:hidden;
	margin-bottom:25px;
	font-family: 'Open Sans', sans-serif;
	
	figure{
		float:left;
		max-width:125px;
		overflow:hidden;
		margin-right:20px;
	}

	.dsboard-title-text{
		overflow:hidden;
		@include min-height(61px);
		display:table;
		vertical-align:middle;
		font-family: 'Open Sans', sans-serif;
		.centered{
			  display:table-cell;
			  vertical-align: middle;
		}
		h2{
			color:$title-color;
			font : 700 20px  'Open Sans', sans-serif;
			margin:0;
			padding:0;
			margin-bottom:6px;
		}
		p{
			font: 700 15px 'Open Sans', sans-serif;
			color:#676767;
		}
	}
}

.title-mainblack{	
	margin-bottom:33px;
	h2{
		color:$title-color;
		font : 700 20px  'Open Sans', sans-serif;
		margin:0;
		padding:0;
		margin-bottom:6px;
		}

	p{
		font: 600 14px 'Open Sans', sans-serif;
		color:#676767;
		margin:0;
	}
}

.border-block{
	border:1px solid $grey;
	padding:30px;
	position:relative;

	@media (max-width : $screen-xs){
		padding:15px;
	}

	&:before{
		content :"";
		position:absolute;
		left:0;
		top:0;
		@include size(7px , 45px);
		background:$green;
	}

	&.nogreen{
		&:before{
			display:none;
		}
	}

	.title-mainblack{
		margin-top:-13px;
	}
}

.box-topline{
	@extend .itempagestop;
	padding:30px 27px 0 27px;

	&:before, &:after {
	  content: " ";
	  /* 1 */
	  display: table;
	  /* 2 */
	}
	&:after {clear: both;}
}

.dsboard-item{
	@include inline-block();
	vertical-align:top;
	width:46%;
	margin:0 15px;
	
	padding-top:18px;
	position:relative;
	margin-bottom:12px;
	overflow:hidden;
	@include prefixed(transition, all .3s linear);
	position:relative;
	z-index:1;

	@media(max-width: 979px){
		width:100%;
	}

	&:before{
		content:'';
		position:absolute;
		top:0;
		left:0;
		z-index:1;
		@include size(100%, 3px);
		background:$green;
	}

	.orange-line-sm{
		position:absolute;
		z-index:5;
		left:0;
		top:0;
		@include size(18px , 3px);
		background:$orange-color;
	}

	&:after{
		content :'';
		position:absolute;
		right:-200px;
		top:20px;
		@include size(20px , 18px);
		background:image-url('icons/arrow_rt.png') 0 0 no-repeat;
		@include prefixed(transition, all .6s linear);
	}

	&:hover{
		&:after{
			right:5px;
		}
	}

	figure{
		width:60px;
		float:left;
		overflow:hidden;
		margin-right:10px;
	}

	.desc{
		overflow:hidden;
		padding-right:25px;
		font: 400 14px 'Lato', sans-serif;

		&.vcenter{
			display:table-cell;
			vertical-align:middle;
			height:67px;
		}

		a{	
			@include prefixed(transition, all .3s ease-out);
			color:#737373;
			&:hover{
				text-decoration:none;
				strong{
					color:$orange-color !important;
				}
			}
		}
		strong{
			@extend .title-blackmd;
			display:block;
			@include prefixed(transition, all .3s ease-out);
			font: 900 17px 'Lato', sans-serif;
			color:#424040;
		}

		&:before{

		}
	}
}

/* ======== APPLICATION CONFIRMATION ======== */

.greybox-app{
	background:#ededed;
	padding:20px;
	margin-bottom:30px;
	color:#737373;
	@media (min-width : $screen-md){
		width:80%;
		max-width:560px;
	}

	.icons{
			display:block;
			float:left;
			@include size(37px, 60px);
			background:image-url('icons/check_green.png') 0 0 no-repeat;
			margin-right:20px;

			@media (max-width : 330px){
				float:none;
				margin:0 auto 15px auto;
			}
	}

	.desc{
		@media (min-width : $screen-md){
			overflow:hidden;
		}

	}
	strong{
		display:block;
		font-weight:700;
		font-size:17px;
		color:darken($font-color, 5%);
		margin-bottom:$pixel;
	}

	b{
		color:darken($font-color, 5%);	
	}
}


.applican-notes{
	margin-bottom:80px;
}

.listdot{
	li{
		list-style-type: disc;
		margin-left: 53px;
		margin-bottom: 5px;
		padding-left:20px;
	}
}
