/*==========================================================================
  FORM COMPANY
========================================================================== */

.f-textcenter{
	text-align:center;
	margin-bottom:35px;
	font-weight:700;
}

label.nobold{
	font-weight:normal;
}

.uploadbox{
	background:#e4e4e4;
	padding:12px;
	@include inline-block();
	@include prefixed(transition, all .3s linear);

	label{
		margin-bottom: 0;
	}
}

#tabcontent_rd{
	.fileupload{
		margin-top: 18px;
	}
}

.inp-nolabel{
	margin-top:24px;
}


textarea{
	width:100%;
}

input[type="text"],
input[type="email"],
textarea, select{
	background:#f4f1f1;
	border:1px solid #cecece;
	font-size:12px;
	@include border-radius(0);
}

input[type="text"],
input[type="email"],
textarea, select{
	&.inp-white{
		background:white;
	}
}

textarea{
	padding:17px;
}

.iteminput1, .iteminput2 {
	input[type="text"],
	input[type="email"], 
	input[type="password"],
	textarea, select
	{
		border:1px solid #cecece;
		background:#f4f1f1;
		font-size:12px;

		&.inp-white{
			background:white;
		}
	}
}

input[type="text"],
input[type="email"],
textarea, select{
	&:hover, &:focus{
		background:white;
	}
}


.bootstrap-select{
	font-size:14px;
	font-family:'arial', sans-serif;
	.btn-default{
		background:#f4f1f1;
		border:1px solid #cecece;
		color:#b8b4b4;
	}
}


.form-title{
  background: #3d9436;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  @include inline-block();
  float: left;
  padding: 14px 20px;
  position: relative;
  font-size: 14px;
  text-transform:uppercase;
  margin-bottom:44px;

  &:before{
  	content:'';
  	@include size(21px, 20px);
  	position:absolute;
  	left:0;
  	bottom:-20px;
  	background:transparent image-url('arrowme4.png') 0 0 no-repeat;
  }

}


.grey-block{
	background: #fafafa;
	width: 100%;
	min-height: 100px;
	padding: 48px 30px 37px 30px;
	border: #cecece solid 1px;
	position: relative;
	z-index:1;
	@include inline-block();
	@include clearfix();
	

	&.grey-block-arrow{
		&:before{
			content:'';
			position:absolute;
			@include size(100%, 37px);
			left:0;
			bottom:-37px;
			background:image-url('arrowme6.png') center top no-repeat;
		}
	}

	&.centered{
		width: 90%;
		margin: 0 auto;
		display: block;
		padding-top: 20px;
		&:before{
			content:"";
			position:absolute;
			left:0;
			top:0;
			background: #489943;
			@include size(7px, 55px);
		}
	}
}


.notif-greybox{
	background:#f2f2f2;
	padding: 23px 25px;
	@include clearfix();
	border:1px solid #cecece;
	color:#3c3a3a;
	position:relative;
	z-index:1;
	text-align:center;
	font: 400 17px/1.7 'Open Sans', sans-serif;
	width: 95%;
	max-width: 820px;
	margin: 0 auto 80px auto;

	&:before{
		content:'';
		position:absolute;
		left:0;
		bottom:-30px;
		@include size(100%, 30px);
		background:transparent image-url('arrowme3.png') center top no-repeat;
	}

	.icon-angle{
		text-align:center;
		color:#d0d0d0;
		text-align:center;
		margin:0;
	}
}


/* ======== ADD FIELD DYNAMICALLY ======== */
.move-field{
	display:block;
	float:left;
	@include size(41px, 40px);
	background:image-url('icons/close_row.png') 0 0 no-repeat;
}

.btn-fieldwrap{
	width:100%;
	padding-left:15px;
	margin-bottom:20px;

	a{
		@include inline-block();
		background:image-url('icons/add-more.png') left center no-repeat;
		color:#565656;	
		padding: 12px 0 12px 45px;	
		@include prefixed(transition, all .2s linear);


		&:hover{
			color:$orange-color;
			text-decoration:none;
		}
	}
}

.file .iteminput1 i,  .iteminput1 i.glyphicon {
	padding-left: 0;
	color: white;
}

.storedcv-block{
	margin-bottom: 30px;
	.desc{
		margin-bottom: 30px;
	}
}


.grey-block__half{
	margin-bottom:30px;
}

.btnwrap-login{
	text-align: right;
	
	.orangegadient{
		@include inline-block();
		margin-bottom: 8px;
	}
	.link-textorange{
		@include inline-block();
	}
}


.radio__greybox__wrap{
	margin-left: -8px;
	overflow: hidden;
}
.radio__greybox{
	background:#e4e4e4;
	width: 100%;
	margin-left: 8px;
	padding: 15px 10px;
	margin-bottom: 20px;
	float: left;
	display: block;
	@include min-height(155px);

	&:last-child{
		margin-right:0;
	}

	@media (min-width: 581px){
		width: 46.5%;
	}
}

.list_disc_radio{
	list-style-type: disc;
	margin-left: 30px;
	li{
		list-style-type: disc;
		margin-top: 5px;
	}
}

.intro_create_acc{
	margin-bottom: 18px;
	span{
		font-weight: 700;
		display: block;
		margin-bottom: 8px;
	}
}







