/*==========================================================================
  ZEBRA TABLE
========================================================================== */
.tablezebra{
	width: 100%;
	margin-bottom: 20px;
	max-width: 100%;
	background-color: transparent;

	@media (min-width : $screen-md ){
		table-layout: fixed;
		white-space: normal;
	}

	&.table{

		tr{
			border-bottom:13px solid white;
			& > td,  & > th{
				padding: 8px;
				line-height: 1.42857143;
				vertical-align: top;
				font: 400 12px 'arial', sans-serif;
			}


			& > th{
				vertical-align:middle;
				background: #276528;
				color: #fff;
				padding:12px 15px;
				border-right:1px solid #ffffff;
				cursor:pointer;

				&:last-child{
					border:none;
				}

				&.center{
					text-align:center !important; 
				}
			}

			& > td{
				background:#e9e9e9;
				border-top:1px solid #dbd6d6;
				border-bottom:1px solid #dbd6d6;
				border-right:1px solid #dbd6d6;
				padding:15px;
				color:#383838;
				vertical-align:middle;

				&:nth-child(even){
					background: #e9e9e9;
				}
				&:nth-of-type(odd){
					background:#dedcdc;
				}
				&:first-child{
					border-left:3px solid  #8dbb1d;
				}

				&.td-nodata{
					background:white !important;
					border:none;
					text-align:center;
					height:150px;
					a{
						color:$text_link;

					}
				}
			}


		}
	}

	.icon-table{
		@include inline-block();
		@include prefixed(transition, all .3s linear);
		position:relative;
		&:hover{
			top:1px;
		}
	}		
}

.icon-guide{
	font: 12px 'arial', sans-serif;
	ul{
		li{
			@include inline-block();
			border-right:1px solid #dedcdc;
			padding:3px 15px;
			margin:0 7px;

			@media(max-width : $screen-sm-max){
				display:block;
				border:none;
				border-bottom:1px solid  #dedcdc;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}

			&:last-child{
				border:none;
			}
			&:first-child{
				margin-left:0;
				padding-left:0;
			}

			&.icon-guide-key{
				padding-left:0;
				border-right:none;
				font-weight:700;
			}

			&.icon-guide-edit{
				background:image-url('icon_edit.png') center left no-repeat;
				padding-left:26px;
			}

			&.icon-guide-delete{
				background:image-url('icon_remove.png') center left no-repeat;
				padding-left:21px;
			}

			&.icon-guide-archive{
				background:image-url('icons/bookstack.png') center left no-repeat;
				padding-left:33px;
			}

			&.icon-guide-copy{
				background:image-url('icons/clip.png') center left no-repeat;
				padding-left:33px;
			}

			&.icon-guide-renew{
				background:image-url('icons/referesh.png') center left no-repeat;
				padding-left:26px;
			}
			
		}
	}
}

.tb-link-green{color:$green }
.tb-link-aply{
	background:$orange-color;
	@include inline-block();
	padding:10px 20px;
	color:white;
	font-size:12px;

	&:hover, &:active{
		text-decoration:none;
		color:white;
		background:darken($orange-color, 8%);
	}
}
.tb-link-ex{color:$red }

.btn-orangeflat{
	background:$orange-color;
	@include inline-block();
	padding:10px 20px;
	color:white;
	font-size:13px;

	&:hover, &:active{
		text-decoration:none;
		color:white;
		background:darken($orange-color, 8%);
	}
}

.text-link{
	color:$orange-color;
	&:hover{
		text-decoration:none;
	}
}

.tb-iconscolect{
	text-align:center;
	a{
		@include inline-block();
		@include prefixed(transition, all .2s linear);
		margin-right:10px;
		margin-bottom:5px;

		&:hover{
			@include opacity(0.6);
		}
	}

	@media (max-width : $screen-xs-max){
		word-wrap:break-word;
		white-space:normal;
		a{
			margin-bottom:10px;
		}
	}
}


/* ======== FORM DETAIL ======== */
.f-dtlaccount {
	width:80%;
	max-width:520px;
	.table{
		td{
			border:none;
			padding:15px 8px;
		}
	}
}
.btn-editable{
	@include size(20px, 19px);
	@include inline-block();
	background:image-url('icons/pencil.png') 0 0 no-repeat;
}

  /*EDIT TABLE*/
 .cellEditing input[type=text]{
      width: auto;
      margin-bottom: 0;
      height: auto !important;
      padding:3px !important;
      border:0;
      background-color:rgb(255,253,210);  
  }


/* ======== JOB POSTING BOX ======== */
#boxposting{
	width:70%;
	max-width:575px;
	margin-bottom:24px;

	@media (max-width : $screen-sm-max){
		width:100%;
	}

	.table{
		border:1px solid #dfdfdf;
		tr{
			td, th{
				padding:12px 19px;
			}

			th{
				font-size:15px;
				color:$green;
				position:relative;

				&:first-child{
					&:before{
						content:'';
						top:0;
						left:0;
						@include size(7px, 100%);
						position:absolute;
						border-left: 7px solid #8dbb1d;
					}

				}
			}
		}	
	}

	.post-nopack{
		font-style:italic;
		text-align:center;
		margin-bottom:0;
	}
}


.optionshow{
	margin-bottom:18px;
	ul {
		li{
			@include inline-block();
			vertical-align:top;

			.text{
				font-weight:700;
				margin-right:8px;
				@include inline-block();
				vertical-align:top;
			}
		}
	}
}

/* ======== COSTUM RADICHECK ======== */
.radio-bulled{
	font-weight:normal;	
	.custom-radio{
		@include square(17px);
		background:image-url('icons/radio.png') 0 0 no-repeat;
		margin-top:3px;

		&.checked{
			background:image-url('icons/radio_active.png') 0 0 no-repeat;

			&.focus{
				background:image-url('icons/radio_active.png') 0 0 no-repeat;
			}
		}
	}
}

.cxbox-sm{
	.custom-check{
		@include square(13px);
		background:image-url('icons/cxbox.png') 0 0 no-repeat;
		margin-top:3px;

		&.checked{
			background:image-url('icons/cxbox_active.png') 0 0 no-repeat;

			&.focus{
				background:image-url('icons/cxbox_active.png') 0 0 no-repeat;
			}
		}
	}
}

@media (max-width : $screen-sm-max){
	.btn-orange{
		margin-bottom:11px;
	}
}
