/*==========================================================================
  ZEBRA TABLE
========================================================================== */
.tablezebra{
	width: 100%;
	margin-bottom: 20px;
	max-width: 100%;
	background-color: transparent;

	@media (min-width : $screen-md ){
		table-layout: fixed;
		white-space: normal;
	}

	&.table{

		tr{
			border-bottom:13px solid white;
			& > td,  & > th{
				padding: 8px;
				line-height: 1.42857143;
				vertical-align: top;
				font: 400 12px 'arial', sans-serif;
			}


			& > th{
				vertical-align:middle;
				background: #276528;
				color: #fff;
				padding:12px 15px;
				border-right:1px solid #ffffff;
				cursor:pointer;

				&:hover{
					background: lighten(#276528, 8%);
				}

				&:last-child{
					border:none;
				}

				&.center{
					text-align:center !important; 
				}
			}

			& > td{
				background:#e9e9e9;
				border-top:1px solid #dbd6d6;
				border-bottom:1px solid #dbd6d6;
				border-right:1px solid #dbd6d6;
				padding:15px;
				color:#383838;
				vertical-align:middle;
				word-wrap:break-word;

				&:nth-child(even){
					background: #e9e9e9;
				}
				&:nth-of-type(odd){
					background:#dedcdc;
				}
				&:first-child{
					border-left:1px solid  #8dbb1d; 
				}

				&.td-nodata{
					background:white !important;
					border:none;
					text-align:center;
					height:150px;
					a{
						color:$text_link;

					}
				}
			}


		}
	}

	.icon-table{
		@include inline-block();
		@include prefixed(transition, all .3s linear);
		position:relative;
		margin:0 9px;


		@media (max-width : $screen-sm-max){
			margin:0 4px;
			margin-bottom:7px;
			display:block;
		}
		
		&:hover{
			top:1px;
		}
	}	

	&.tb-static{
		tr{
			& > td{
				padding:12px;
			}
		}
	}	
}

.icon-guide{
	font: 12px 'arial', sans-serif;
	margin-bottom: 25px;
	ul{
		li{
			@include inline-block();
			border-right:1px solid #dedcdc;
			padding:3px 15px;
			margin:0 7px;

			@media(max-width : $screen-sm-max){
				display:block;
				border:none;
				border-bottom:1px solid  #dedcdc;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}

			&:last-child{
				border:none;
			}
			&:first-child{
				margin-left:0;
				padding-left:0;
			}

			&.icon-guide-key{
				padding-left:0;
				border-right:none;
				font-weight:700;
			}

			&.icon-guide-edit{
				background:image-url('icon_edit.png') center left no-repeat;
				padding-left:26px;
			}

			&.icon-guide-delete{
				background:image-url('icon_remove.png') center left no-repeat;
				padding-left:21px;
			}

			&.icon-guide-archive{
				background:image-url('icons/bookstack.png') center left no-repeat;
				padding-left:33px;
			}

			&.icon-guide-copy{
				background:image-url('icons/clip.png') center left no-repeat;
				padding-left:33px;
			}

			&.icon-guide-renew{
				background:image-url('icons/referesh.png') center left no-repeat;
				padding-left:26px;
			}
			&.icon-guide-disable{
				background:image-url('icons/disable.png') center left no-repeat;
				padding-left:26px;
			}

			&.icon-guide-report{
				background:image-url('icons/pdf.png') center left no-repeat;
				padding-left:30px;
			}
			&.icon-guide-view{
				background:image-url('icons/zoom.png') center left no-repeat;
				padding-left:30px;
			}
			&.icon-guide-disable{
				background:image-url('icons/disable_2.png') center left no-repeat;
				padding-left:30px;
			}
			&.icon-guide-enable{
				background:image-url('icons/enabled.png') center left no-repeat;
				padding-left:30px;
			}
			&.icon-guide-download{
				background:image-url('icons/download.png') center left no-repeat;
				padding-left:30px;
			}
		}
	}
}

.tb-link-green{color:$green }
.tb-link-aply{
	background:$orange-color;
	@include inline-block();
	padding:10px 20px;
	color:white;
	font-size:12px;

	&:hover, &:active{
		text-decoration:none;
		color:white;
		background:darken($orange-color, 8%);
	}
}
.btn-orangeflat{
	background:none;
	border:none;
	background:$orange-color;
	@include inline-block();
	padding:10px 20px;
	color:white;
	font-size:13px;
	text-align: center;

	&:hover, &:active{
		text-decoration:none;
		color:white;
		background:darken($orange-color, 8%);
	}
}

.btn-view{
	@extend .btn-orangeflat;
}

.tb-link-aplysm{
	@extend .tb-link-aply;
	padding:10px 12px;
}

.tb-link-ex{color:$red }

.btn-greenflat{
	@extend .btn-orangeflat;
	background: $green;
}

.btn-greenflatsm{
	@extend .btn-greenflat;
	padding: 10px 12px;
	font-size: 12px;
}

.text-link{
	color:$orange-color;
	word-wrap:break-word;
	&:hover{
		text-decoration:none;
	}
}

.text-link-green{
	color:#5aca00;
	word-wrap:break-word;
	@include prefixed(transition, all 0.2s linear);
	
	&:hover{
		color:$orange-color;
		text-decoration:none;
	}
}

.tb-iconscolect{
	text-align:center;
	&.left{
		text-align: left;
	}
	a{
		@include inline-block();
		@include prefixed(transition, all .2s linear);
		margin-right:10px;
		margin-bottom:5px;

		&:hover{
			@include opacity(0.6);
		}
	}

	@media (max-width : $screen-xs-max){
		word-wrap:break-word;
		white-space:normal;
		a{
			margin-bottom:10px;
		}
	}
}


/* ======== FORM DETAIL ======== */
.f-dtlaccount {
	width:80%;
	max-width:520px;
	.table{
		td{
			border:none;
			padding:15px 8px;
			vertical-align: middle;
		}
	}
}
.btn-editable{
	@include size(20px, 19px);
	@include inline-block();
	background:image-url('icons/pencil.png') 0 0 no-repeat;

	&.active{
		background:image-url('icons/pencil_use.png') 0 0 no-repeat;
	}
}

.passfield{
	background: none;
	border:none;
	border:1px solid transparent;
	width: 95%;
	&.active{
		padding:12px 10px;
		 border:1px solid #cecece;
	}
}

  /*EDIT TABLE*/
 .cellEditing input[type=text]{
      width: auto;
      margin-bottom: 0;
      height: auto !important;
      padding:12px 10px;
      border:0;
      background:white;  
      border:1px solid #cecece;
      width: 95%;
  }


/* ======== JOB POSTING BOX ======== */
#boxposting{
	width:70%;
	max-width:595px;
	margin-bottom:24px;

	@media (max-width : $screen-sm-max){
		width:100%;
	}

	.table{
		border:1px solid #dfdfdf;
		tr{
			td, th{
				padding:12px 19px;
			}

			th{
				font-size:15px;
				color: #328234;
				position:relative;

				&:first-child{
					&:before{
						content:'';
						top:0;
						left:0;
						@include size(7px, 100%);
						position:absolute;
						border-left: 7px solid #328234;
					}

				}
			}
		}	
	}

	.post-nopack{
		font-style:italic;
		text-align:center;
		margin-bottom:0;
	}
}


.optionshow{
	margin-bottom:18px;
	ul {
		li{
			@include inline-block();
			vertical-align:top;

			.text{
				font-weight:700;
				margin-right:8px;
				@include inline-block();
				vertical-align:top;
			}
		}
	}
}

/* ======== COSTUM RADICHECK ======== */
.radio-bulled{
	font-weight:normal;	
	.custom-radio{
		@include square(17px);
		background:image-url('icons/radio.png') 0 0 no-repeat;
		margin-top:3px;

		&.checked{
			background:image-url('icons/radio_active.png') 0 0 no-repeat;

			&.focus{
				background:image-url('icons/radio_active.png') 0 0 no-repeat;
			}
		}
	}
}

.cxbox-sm{
	.custom-check{
		@include square(13px);
		background:image-url('icons/cxbox.png') 0 0 no-repeat;
		margin-top:3px;

		&.checked{
			background:image-url('icons/cxbox_active.png') 0 0 no-repeat;

			&.focus{
				background:image-url('icons/cxbox_active.png') 0 0 no-repeat;
			}
		}
	}
}

@media (max-width : $screen-sm-max){
	.btn-orange{
		margin-bottom:11px;
	}
}

/* ======== SEARCH ON TABLE ======== */

.tb-search{
	form{
		position:relative;
	}
	.inp-src{
		width:100%;
		border:1px solid #cecece;
		background:white;
		padding:13px;
		padding-right:62px;
		margin-top:7px;
		margin-bottom:15px;
		font-size:13px;
	}

	.btn-src{
		position:absolute;
		right:0;
		top:17%;
		background:none;
		border:none;
		@include hide-text();
		background:transparent image-url('icons/src.png') center center no-repeat;
		border-left:1px solid $orange-color;
		@include size(47px, 37px);
	}
}


/* ======== SITE STATISTIC ======== */
.tb-select{
	@include inline-block();
	margin-left: 15px;
	margin-right: 15px;
	width: 29%;

	@media (max-width : 767px){
		width: 100%;
		margin:0;
		margin-bottom:18px;
	}

	.bootstrap-select {
		.btn-default{
			background: #FFFFFF;
			color: #565151;
		}
	}

}


/* ========  PACKAGE MANAGER ======== */

.tb-tooltip{
	@include inline-block;
	position: relative;
	float:right;

	&:hover{
		&:after{
    		background:$orange-color;
    		border-radius: 5px;
    		bottom: 35px;
    		color: #fff;
    		content: attr(title);
    		left: 50%;
    		margin-left: -59px;
    		padding: 11px 15px;
    		position: absolute;
    		z-index: 98;
    		width: 137px;
    		text-align: center;
		}

		&:before{
			content: "";
    		border: solid;
    		border-color: $orange-color transparent;
    		border-width: 16px 16px 0 16px;
			bottom: 19px;
    		left: 50%;
    		margin-left: -16px;
    		position: absolute;
    		z-index: 99;
		}
	}
}

.editcol-btn{
	@include inline-block();
	
	img{
		margin-left: 15px;
	}
	span{
		background:none;
		border:none;
		background:$orange-color;
		@include inline-block();
		padding: 7px 14px;
		color:white;
		font-size:13px;

		&:hover, &:active{
			text-decoration:none;
			color:white;
			background:darken($orange-color, 8%);
		}
	}
}

.cellEdit{
	input{
		border:1px solid #cecece;
		background: white;
		padding: 7px 10px;
		@include inline-block();
		width: 65px;	
	}
}


.salary-rec{
	border:1px solid #dfdfdf;	
}

.salary-rec__header{
	overflow: hidden;
	padding:20px $pixel * 2 + 3;
	p{
		font-weight: 700;
		margin-bottom: 0;

		&.id{
			float:left;
		}
		&.date{
			float:right;
		}

		@media (max-width: 767px){
			text-align:center;
			&.date, &.id{
				float: none;
				display: block;
				margin-bottom: 15px;
			}
		}
	}
}

.salary-rec__list{
	.salary-rec__list__title{
		color:$green;
		font-weight: 700;
		font-size: 15px;
		margin:0;
		padding: $pixel + 2  $pixel * 2 + 3;
		border:1px solid #dfdfdf;	
		position: relative;
		&:before{
			content:'';
			position: absolute;
			left:0;
			top:0;
			width: 7px;
			height:100%;
			background:$green;
		}
	}

	.salary-rec__list__desc{
		padding: $pixel * 2;
	}
}

.green_listyle{
	list-style: none;
	padding-left: $pixel + 7;
	li{
		list-style: none;
		padding-left:$pixel * 3;
		background:image-url("icons/thick.png") left top no-repeat;
		margin-bottom: $pixel + 2;
		display: block;
	}
}

.table-record{
	font-size: 13px;

	&.table{
		margin-bottom: 0;
		@media (max-width: 768px){
			max-width: 550px;
		}
		strong{
			font-weight: normal;
			font-weight: 700;
		}
		td{
			border:none;
		}
	}
}


%extend_btn_action{
	background: none;
	border:none;
	@include size(18px, 19px);
	@include inline-block();
	@include prefixed(transition, all 0.2s linear);

	&:hover{
		@include opacity(0.7);
	}
}
.btn-disabled{
	@extend %extend_btn_action;
	background: image-url("icons/disable_2.png") 0 0 no-repeat;
	
}
.btn-enabled{
	@extend %extend_btn_action;
	background: image-url("icons/enabled.png") 0 0 no-repeat;
}

.download-pack{
	text-align: right;
	float: right;
	p{
		font-weight: 600;
		margin-bottom: 0;
		font-style: italic;
		margin-bottom: 5px;
	}
	.btn-orangeflat{
		background-image: image-url("icons/download_flat.png");
		background-repeat: no-repeat;
		background-position: 93% center;
		padding-right: 60px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
}

.btn-buy{
	@extend .btn-orangeflat;
	background-image: image-url("icons/cart.png");
	background-repeat: no-repeat;
	background-position: 88% center;
  	padding-right: 42px;
  	@include background-size(22px auto);
  	&:hover{
  		background-image: image-url("icons/cart.png");
  		background-repeat: no-repeat;
		background-position: 89% center;
		@include background-size(22px auto);
  	}
}
.btn-tbsign{
	@extend .btn-orangeflat;
	background-color: green;
	padding: 6px 15px 6px 19px;
	min-width: 114px;
	span:before{
		@include inline-block;
  		vertical-align: middle;
  		margin-left:0;
	}
}


.btn-flatwrap{
	@include inline-block();
}

.smallinfo{
	display: block;
	margin:0;
	position:relative;

	a{
		@include inline-block();
		//background: #9b9b9b image-url("icons/info.png") center center no-repeat;
		padding: 4px 5px 3px;
		position: absolute;
		right: -13px;
  		top: -12px;
		background-color:#9b9b9b;
		&:before{
			font-size:14px;
			color: #dedcdd;
			margin: 0;
		}

		&:hover{
			text-decoration: none;
		}
	}
}

.wrap-title-twoside{
	margin-bottom:8px;
	&:before, &:after{
		content: " ";
		display: table;
	}
	&:after{
		clear: both;
	}

	@media (min-width: 767px){
		.title-mainblack{
			float: left;
		}
		.rightside{
			float: right;
			padding-top: 10px;
			margin-left: 15px;
		}
	}
}
		
